<div class="main_form_session">
<h2>Iniciar Sesion</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<fieldset>
  <legend>Email</legend>

  <%= f.label :email do %>
  <%= f.email_field :email, autofocus: true %>
  <% end %>
</fieldset>

<fieldset>
  <legend>contraseña</legend>

  <%= f.label :password do %>
  <%= f.password_field :password, autocomplete: "off" %>
  <% end %>
</fieldset>


  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Iniciar sesion", class: "button radius" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
