<div class="main">
  <div class="main">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <h3><%= link_to post.title, post %> </h3>

       <p>
         <% if post.user == current_user %>
         <%= link_to content_tag('i', 'borrar', class: 'icon-trash'), post, confirm: "Estas seguro de borrar '#{post.title}'?", method: :delete %>
          |
         <%= link_to "Editar", edit_post_path(post) %>  - Creado el <%= post.created_at.strftime("%b %d, %Y") %>
        <% end %>

       </p>

        <hr>
      <% end %>

      <p>  <%= link_to "Nuevo", new_post_path %> </p>
      <% else %>
        <p>
          No tienes articulos crea uno <%= link_to "Nuevo", new_post_path %>
        </p>
      <% end %>
  </div>
</div>
