<div class="main_form">

<%= form_for(@post)  do |f| %>
<% if @post.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<fieldset>
  <legend>Titulo</legend>

  <%= f.label :title, class: "form-control" do %>
      <%= f.text_field :title, class: "form-control",placeholder: "Nombre del articulo" %>
  <% end %>
</fieldset>

<fieldset>
  <legend>Cuerpo</legend>

  <%= f.label :body, class: "form-control" do %>
      <%= f.text_area :body, class: "form-control",placeholder: "Cuerpo del articulo" %>
  <% end %>
</fieldset>
<fieldset>
  <legend>Imagen(Opcional)</legend>
  <%= f.file_field :picture %>
</fieldset>

  <%= f.submit "Crear", class: "button radius" %>
<% end %>

</div>
